<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Ninja Gold</title>
</head>
<body>
    <div class="wrapper">
        <h1>Reach 300 Gold in Less Than 15 Attempts, Challenger</h1>
        <div class="flex-top">
            <div class="your-gold">
                <h3>Your Gold:</h3>
                <p class="your-gold-p">{{ session['gold'] }}</p>
            </div>
            <div class="your-gold">
                <h3>Attempts:</h3>
                <p class="your-gold-p">{{ session['tries'] }}</p>
            </div>
        </div>
        {% if session['switch'] == True%}
        <div class="win/lose">
            <h1>Hey You, you {{session['win/lose']}}</h1>
        </div>
        {% endif %}
        <div class="flex {% if session['switch'] == True%}hide{% endif %}">
            <div class="farm box">
                <h3>Farm</h3>
                <p>(earns 10 - 20 golds)</p>
                <form action="/process" method="post">
                    <input class="button" type="submit" value="Find Gold">
                    <input type="hidden" name="process" value='farm'>
                </form>
            </div>
            <div class="cave box">
                <h3>Cave</h3>
                <p>(earns 5 - 10 golds)</p>
                <form action="/process" method="post">
                    <input class="button" type="submit" value="Find Gold">
                    <input type="hidden" name="process" value='cave'>
                </form>
            </div>
            <div class="house box">
                <h3>House</h3>
                <p>(earns 2 - 5 gold)</p>
                <form action="/process" method="post">
                    <input class="button" type="submit" value="Find Gold">
                    <input type="hidden" name="process" value='house'>
                </form>
            </div>
            <div class="casino box">
                <h3>Casino</h3>
                <p>(earns/takes 0-50 gold)</p>
                <form action="/process" method="post">
                    <input class="button" type="submit" value="Find Gold">
                    <input type="hidden" name="process" value='casino'>
                </form>
            </div>
        </div>
        <div class="activity-log">
            {% if 'message' in session %}
            {% for i in session['message']|reverse %}
            {{ i | safe }}
            {% endfor %}
            {% endif %}
        </div>
        {% if session['switch'] == True%}
        <div class="reset-section">
            <form action="/reset" method="post">
                <input class="reset-button" type="submit" value="Reset">
            </form>
        </div>
        {% endif %}
    </div>
</body>
</html>